.header {
    height: 200px;
    background-image: url(https://img.freepik.com/free-photo/vintage-retro-camera-and-envelopes-with-letters-closeup_169016-17197.jpg?size=626&ext=jpg&ga=GA1.1.1610815588.1684654861&semt=sph);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 50px;
}
.nav-list {
    display: flex;
    font-size: 40px;
    gap: 100px;
}
.nav-link:hover {
    color: #e34b4b;
}
.link {
    color: #fff;
    text-decoration: none;
}
.footer {
    background-color: rgb(182, 168, 149);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
}
.gallery-image {
    height: 150px;
    width: 250px;
}