a {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: italic;
}

.brand {
    font-weight: 700;
    font-style: normal;
}

.text {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-style: normal;
}

.image {
    max-width: 400px;
    max-height: 400px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}